body {
  background-color: #222;
  color: #ddd;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1, h2 {
  color: #ffd700;
  font-size: 6em;
  margin: 0;
  text-align: center;
}

#homepage a {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#homepage:target {
  opacity: 0;
  pointer-events: none;
}

#homepage:target + #secondpage {
  opacity: 1;
  pointer-events: auto;
}

#secondpage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
